@charset "utf-8";
body ,form, table{margin : 0;
	padding : 0;
	border : none; 
	font-family : "Times New Roman", Times, serif;
	font-size:  14px;
	
}
p {color: #FFFFFF;font-size:14px;}
td.standard {font-family: "Times New Roman", Times, serif; font-size: 14px; color: black; background-color: #FFFFFF}
td.group {font-family: "Times New Roman", Times, serif; font-size: 14px; color: black; font-weight: bold; background-color: #4CA20B;}

a{text-decoration: none; color: #000000;}
a:hover{color: #7B91B4;}

#cuadro {
	width: 380px;
	border-radius: 15px;
	border: 1px solid #66C428;
	text-align: center;
	padding-bottom: 0px;
	box-shadow: 3px 3px 9px #999;
}

body {
	text-align: justify;
}
h4 {
	margin: 0;
	text-align: center;
}
a:link, a:visited {
	color: #060;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	color: #060;
	text-decoration: underline;
}
.texto_negritas {
	font-weight: bold;
}
.texto_menor {
	font-size: 13px;
}
.texto_rojo {
	color: #F00;
}
/*************************************************************/
/************************Tablas*******************************/
.tabla1 {
	width: 495px;
	border: 0px;
	margin-left: auto;
	margin-right: auto;	
}
.tabla2 {
	width: 250px;
	border: 0px;
	margin-left: auto;
	margin-right: auto;
}
.tabla3 {
	width: 350px;
	border: 0px;
	margin-left: auto;
	margin-right: auto;
}

.color_fila_1 {
	background-color: #F1F1F2;
}
.color_fila_2 {
	background-color: #E4E9F4;
}
.titulos {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	text-align: center;
	font-weight: bolder;
	padding: 10px 0 10px 0;
	margin-bottom: 5px;
	background-color: #4CA20B;
	color: #FFF;
}